@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb;
  --color-secondary: #f59e0b;
  --color-accent: #10b981;
  --color-base-100: #f9fafb;
  --color-base-content: #1f2937;
}

.menu a.active {
  @apply text-blue-600 underline
}

